body {

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/acac88dc-7e9b-40e3-80ea-4a05c897e180/d5bd6zo-0b0a386f-4833-4e99-b8bc-c545f598320f.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2FjYWM4OGRjLTdlOWItNDBlMy04MGVhLTRhMDVjODk3ZTE4MFwvZDViZDZ6by0wYjBhMzg2Zi00ODMzLTRlOTktYjhiYy1jNTQ1ZjU5ODMyMGYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.TAWSntNphNuiC_TvMYINyEKSfdGZ6kx9GzKVOzmQ5X0");
    background-repeat: no-repeat;
    background-size: cover;
  
   
    
  }


.container {
    animation: floatup 20s linear infinite, sideways 20s linear infinite, change 10s linear infinite alternate;
}

.butterfly {
  position: relative;
  z-index: 10;
  transform: translate(310%, -30%)
  
}

.wing {
    background-color: white;
    height: 170px;
    width: 180px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 90px;
    position: relative;
    animation: left 0.5s linear infinite alternate;
    transform-origin: left;
    box-shadow: 20px 20px 70px  rgb(165,241,247);
    background: radial-gradient(circle, rgba(165,241,247,1) 0%, rgba(255,254,248,1) 38%, rgba(152,236,252,1) 97%);  inset;
}

.wing::before {
    content: "";
  position: absolute;
  height: 150px;
  width: 150px;
  box-shadow: 20px 20px 70px  rgb(165,241,247);
    background: radial-gradient(circle, rgba(165,241,247,1) 0%, rgba(255,254,248,1) 38%, rgba(152,236,252,1) 97%);  inset;
  border-top-right-radius:80px;
  border-bottom-left-radius:90px;
  top: 170px;


}

.second-wing {
  box-shadow: 20px 20px 70px  rgb(165,241,247);
  background: radial-gradient(circle, rgba(165,241,247,1) 0%, rgba(255,254,248,1) 38%, rgba(152,236,252,1) 97%);  inset;
    height: 170px;
    width: 180px;
    border-top-right-radius: 100px;
    position: relative;
    border-bottom-left-radius: 90px;
    animation: right 0.5s linear infinite alternate;
    right: 116%;
    top: -350px;
    transform-origin: right;
}

.second-wing::before {
    content: "";
  position: fixed;
  height: 150px;
  width: 150px;
  box-shadow: 20px 20px 70px  rgb(165,241,247);
    background: radial-gradient(circle, rgba(165,241,247,1) 0%, rgba(255,254,248,1) 38%, rgba(152,236,252,1) 97%);  inset;
  border-top-left-radius:80px;
  border-bottom-right-radius:90px;
  top: 170px;
  left: 30px;
  
}

.b {
    height: 200px;
    width: 30px;
    background: black;
    border-radius: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    transform: translate(-100%, -40%);
    z-index: 8;
  } 


@keyframes left {
  from {
    transform: translateZ(80px) rotateY(-10deg)
  }
  to {
    transform:translateZ(0px) rotateY(50deg) 
  }
    }
  
  @keyframes right {
    from { 
      transform: translateZ(80px) rotateY(10deg)
    }
    to {
      transform:translateZ(0px) rotateY(-50deg) 
    }
  }

.flowerHead {
  width: 200px;
  height: 300px;
  background-color: white;
  transform: rotate(45deg);
  border-bottom-left-radius: 210%;
  border-top-right-radius: 210%;
  box-shadow: 10px 10px 25px grey inset;
  position: relative;
}

.flowerHead::before {
  content: "";
  width: 200px;
  height: 300px;
  background-color: white;
  transform: translate(100%, -100%) rotate(-65deg);
  border-bottom-left-radius: 210%;
  border-top-right-radius: 210%;
  box-shadow: 10px 10px 25px grey inset;
  position: absolute;

}

.flowerHead::after {
  content: "";
  width: 300px;
  height: 300px;
  background-color: white;
  transform: translate(0%, -60%) rotate(70deg);
  /*border-bottom-left-radius: 210%;
  border-top-right-radius: 210%;*/
  border-top-left-radius: 40%;
  border-bottom-right-radius: 40%;
  border-bottom-left-radius: 50%;
  box-shadow: 10px 10px 25px grey inset;
  position: absolute;

}

.green {
  width: 100px;
  height: 200px;
  background-color: green;
  transform: translate(150%, -0%) rotate(165deg);
  position: relative;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  box-shadow: 10px 10px 40px rgb(6, 49, 6) inset;
}

.moon-shape {
 
    width: 400px;
    height: 500px;
    border-radius: 50%;
    box-shadow: 15px 15px 0 0 green;
    position: relative;
    transform: translate(-50%, 80%) rotate(205deg);
}

.body {
  height: 700px;
  width: 20px;
  background: green;
  position: relative;
  transform: translate(-1100%, -50%);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.body::before {
  content: "";
  width: 1500px;
  height: 300px;
  background-color: green;
  transform: translate(-60%, 100%) rotate(65deg);
  border-bottom-left-radius: 210%;
  border-top-right-radius: 210%;
  border-bottom-right-radius:;
  border-top-left-radius:5%;
  box-shadow: 10px 10px 25px rgb(12, 78, 12) inset;
  position: absolute;
}