body {

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    background: url("https://img1.picmix.com/output/stamp/normal/6/2/3/4/1384326_87c6b.gif"), url("https://miro.medium.com/max/1400/1*1zT6ujt73ra9cG5hXohT4Q.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
  }




.butterfly {
  position: relative;
  z-index: 10;
  transform: translate(310%, -30%);
}

.wing {
    background-color: white;
    height: 170px;
    width: 180px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 90px;
    position: relative;
    animation: left 0.5s linear infinite alternate;
    transform-origin: left;
    box-shadow: 20px 20px 70px  rgb(165,241,247);
    background: radial-gradient(circle, rgba(165,241,247,1) 0%, rgba(255,254,248,1) 38%, rgba(152,236,252,1) 97%);
}

.wing::before {
    content: "";
  position: absolute;
  height: 150px;
  width: 150px;
  box-shadow: 20px 20px 70px  rgb(165,241,247);
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(170,234,247,1) 60%, rgba(255,255,255,1) 100%);  
  border-top-right-radius:80px;
  border-bottom-left-radius:90px;
  top: 170px;


}

.second-wing {
  box-shadow: 20px 20px 70px  rgb(165,241,247);
  background: radial-gradient(circle, rgba(165,241,247,1) 0%, rgba(255,254,248,1) 38%, rgba(152,236,252,1) 97%);
    height: 170px;
    width: 180px;
    border-top-right-radius: 100px;
    position: relative;
    border-bottom-left-radius: 90px;
    animation: right 0.5s linear infinite alternate;
    right: 116%;
    top: -365px;
    transform-origin: right;
}

.second-wing::before {
    content: "";
  position: fixed;
  height: 150px;
  width: 150px;
  box-shadow: 20px 20px 70px  rgb(165,241,247);
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(170,234,247,1) 60%, rgba(255,255,255,1) 100%); 
  border-top-left-radius:80px;
  border-bottom-right-radius:90px;
  top: 170px;
  left: 30px;
  
}

.b {
    height: 200px;
    width: 30px;
    background: black;
    border-radius: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    transform: translate(-100%, -40%);
    z-index: 8;
  } 


@keyframes left {
  from {
    transform: translateZ(80px) rotateY(-10deg)
  }
  to {
    transform:translateZ(0px) rotateY(50deg) 
  }
    }
  
  @keyframes right {
    from { 
      transform: translateZ(80px) rotateY(10deg)
    }
    to {
      transform:translateZ(0px) rotateY(-50deg) 
    }
  }

.flowerHead {
  width: 200px;
  height: 300px;
  background-color: rgb(199, 199, 199);
  transform: rotate(45deg);
  border-bottom-left-radius: 210%;
  border-top-right-radius: 210%;
  box-shadow: 10px -100px 25px grey inset;
              
  position: relative;
}

.flowerHead::before {
  content: "";
  width: 200px;
  height: 300px;
  background-color: rgb(204, 204, 204);
  transform: translate(100%, -100%) rotate(-65deg);
  border-bottom-left-radius: 210%;
  border-top-right-radius: 210%;
  box-shadow: 50px -10px 25px grey inset;
  position: absolute;

}

.flowerHead::after {
  content: "";
  width: 300px;
  height: 300px;
  background-color: white;
  transform: translate(0%, -60%) rotate(70deg);
  /*border-bottom-left-radius: 210%;
  border-top-right-radius: 210%;*/
  border-top-left-radius: 40%;
  border-bottom-right-radius: 40%;
  border-bottom-left-radius: 50%;
  box-shadow: -10px 10px 25px grey inset,
               -80px 5px 35px grey inset;
  position: absolute;

}

.green {
  width: 100px;
  height: 200px;
  background-color: rgb(2, 66, 2);
  transform: translate(150%, -0%) rotate(165deg);
  position: relative;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  box-shadow: 50px 100px 40px rgb(68, 181, 68) inset;
}

.moon-shape {
 
    width: 400px;
    height: 500px;
    border-radius: 50%;
    box-shadow: 15px 15px 0 0 rgb(2, 66, 2);
    position: relative;
    transform: translate(-50%, 80%) rotate(205deg);
}

.body {
  height: 700px;
  width: 20px;
  background: rgb(2, 66, 2);
  position: relative;
  transform: translate(-1100%, -50%);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.body::before {
  content: "";
  width: 1500px;
  height: 300px;
  background-color: rgb(4, 39, 4);
  transform: translate(-60%, 100%) rotate(65deg);
  border-bottom-left-radius: 210%;
  border-top-right-radius: 210%;
 
  border-top-left-radius:5%;
  box-shadow: 10px 30px 55px rgb(12, 78, 12) inset;
  position: absolute;
}